@using AspNet.Capitulo02.Razor.Net.Comentarios
@{ 
    var aplicacao = new ComentarioAplicacao();
}

<html>
<head>
    <title>Comentários</title>
    <style>
        label{
            min-width: 100px;
            display: inline-block;
        }
        label[for=comentario]{
            vertical-align:top;
        }
        input, textarea{
            min-width:50%;
            min-height:28px;
            margin-bottom: 5px;
        }
        input[type=submit]{
            min-width: 300px;
            margin-left: 105px;
        }
    </style>
</head>

<body>
    @{
        if (IsPost)
        {
            aplicacao.Inserir(Request["nome"], Request["comentario"]); 
        }
    }

    <h1>Comentários</h1>
    <hr />
    <form method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" />
        <br />
        <label for="comentario">Comentário</label>
        <textarea name="comentario" rows="10"></textarea>
        <br />
        <input type="submit" value="Gravar" />
    </form>
    <hr />

    @foreach (var comentario in aplicacao.Selecionar())
    {
        <p>@comentario.Data - @comentario.Nome </p>
        <p>@comentario.Comentario</p>
    }

</body>
</html>
